li::before
{ 
 content: "> ";
}
h1:after 
{
 content: '_';
 -webkit-animation-name: blinker;
 -webkit-animation-duration: 1s;
 -webkit-animation-timing-function: linear;
 -webkit-animation-iteration-count: infinite;

 -moz-animation-name: blinker;
 -moz-animation-duration: 1s;
 -moz-animation-timing-function: linear;
 -moz-animation-iteration-count: infinite;

 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
h1
{
 font-family: "Courier New", Courier, monospace;
}
body
{
 background-color: #000000;
 color: #70ee70;
 border: solid;
 border-color: #424141;
 border-width: 15px;
 margin: 0;
 font-family: "Lucida Console", Monaco, monospace;
 font-size: 16px;
 max-width: 700px;
 margin: 0 auto;
 padding-left: 5px;
 padding-right: 5px;
}
h1
{
 padding-left: 3px;
 padding-bottom: 15px;
 margin-top: 15px;
 margin-bottom: 0px;
}
ul
{
  list-style-type: none;
  padding-left: 15px;
}
a
{
 color: #80ff80;
 text-decoration: none;
}
.soc
{
 text-decoration: underline;
 color: 
}
@-moz-keyframes blinker 
{
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
}

@-webkit-keyframes blinker 
{
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
}

@keyframes blinker 
{
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
}
h2
{
 display: inline-block;
 height: 15px;
 width: 100%;
 background-color: #424141;
 font-size: 15px;
 padding-left: 5px;
 padding-bottom: 3px;
 padding-top: 3px;
 margin-bottom: 0;
 color: #bdc3c7;
 font-style: normal;
 margin-top: 0;
 margin-left: -5px;
 padding-right: 5px;
}
p
{
 padding-left: 5px;
}
pre
{
  background-color: #151515;
  color: #bdc3c7;
  white-space: pre;
  margin: 3px;
  padding: 3px;
  letter-spacing: 1px;
  overflow: auto;
}
tt
{
  background-color: #151515;
  color: #bdc3c7;
  margin: 0;
  padding: 1px;
}
hr
{
 border: solid 1px;
 border-color: #424141;
}
.controlid
{
  display: inline-block;
  position: relative;
  right: 5px;
  float: right;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #303030; 
}
::-webkit-scrollbar-thumb:hover {
  background: #505050; 
}
